html {
    height: 100%;
  }

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    margin: 0;
    /* min-height: 100%; */
    display: grid;
    grid-template-rows: 1fr auto;
}
  
h1 {
    background-color: teal;
    color: white;
    width: 100%;
}

h2{
    color: teal;
    width: 100%;

}
  
p{
    font-size: 2vh;
    padding: 5px;
    word-wrap: break-word;
}
.nav-link{
    background-color: teal;
    text-align: center;
}
#nameTitle{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
#pageTop{
    width: 100%;
    height: 10%;
}
.navbar{
    width: 100%;
}


.card {
    background-color: white;
    /* padding: 2vh; */
    margin-top: 20px;
}

.Title{
    padding-bottom: 10px;
    border-bottom: 3px solid lightgray;
}

.BioPic{
    /* padding: 10px; */
    align-content: center;
    z-index: 1;
    width: 60vw;
    max-width: 600px;
    height: auto;
}


/* #footer{
    border-top: 6px solid teal;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}   */